<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>AgentsCoordinator</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="static/jquery.connections.js"></script>
    <script src="static/generic.js"></script>
    <script src="static/tile-creator.js"></script>
    <script src="static/navigation.js"></script>
    <script src="static/conditional-tile.js"></script>
    <script src="static/prompt-tile.js"></script>
    <script src="static/save.js"></script>
    <script src="static/start.js"></script>
    <script src="static/chat.js"></script>
    <script src="static/connector.js"></script>
    <script src="static/graph.js"></script>
</head>
<body style="height: 10000px; width: 10000px;">
    <div class="container top-0" tabindex="-1"
         id="navigation"
         style="width: 250px; height: auto; top: 50px; left: 50px; padding-top: 20px; border-top-width: 10px;"
    >
        <div class="text-center menu-item" id="new-project-tile-button">New Conditional prompt</div>
        <div class="text-center menu-item" id="new-task-tile-button">New Prompt</div>
        <div class="text-center menu-item" id="save-button">Save</div>
    </div>
    <div class="container top-0" tabindex="-1"
         id="start"
         style="width: 200px; height: auto; top: 50px; left: 350px; padding-top: 20px; border-top-width: 10px;"
    >
        <input type="password" id="key" value="" name="key" placeholder="Paste your OpenAI key here." style="width: 195px; position: center;" required>
        <div style="margin-top: 10px;" class="text-center menu-item" id="play-button">Play</div>
    </div>

    <div class="container top-0" tabindex="-1"
         id="chat"
         style="width: 350px; height: 300px; top: 200px; left: 50px; padding-top: 20px; border-top-width: 10px;"
    >
        <textarea id="output" placeholder="Output" style="height: 90%; margin-bottom: 10px; resize: none;" readonly></textarea>
    </div>

</body>
</html>
