<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>SimpleNoteTaker</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="static/jquery.connections.js"></script>
    <script src="static/generic.js"></script>
    <script src="static/navigation.js"></script>
    <script src="static/project-tile.js"></script>
    <script src="static/task-tile.js"></script>
    <script src="static/save.js"></script>
</head>
<body style="height: 10000px; width: 10000px;">

    <div class="container top-0" tabindex="-1"
         id="navigation"
         style="width: 150px; height: auto; top: 50px; left: 50px; padding-top: 20px;"
    >
        <div class="text-center menu-item" id="new-project-tile-button">New Project</div>
        <div class="text-center menu-item" id="new-task-tile-button">New Task</div>
        <div class="text-center menu-item" id="save-button">Save</div>
    </div>

</body>
</html>
